<header id="header">
	<div class="inner">
		<a href="<%= RELATIVE_PATH %>" class="header-logo">
			<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="img">
		</a>
		<nav class="header-nav">
			<ul class="header-nav__menu">
				<li class="header-nav__menu-item">
					<a href="">Demo</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Demo</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Demo</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Demo</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Demo</a>
				</li>
			</ul>
		</nav>
		<span class="js-mobile">
			<span></span>
		</span>
	</div>
</header>